input.form-control:focus {
    border-color: #80cb2b;
    box-shadow: 0 0 0 0.2rem rgba(128, 203, 43, 0.25);
    outline: none;
  }
  
  .search-btn {
    background-color: #80cb2b;
    border-color: #80cb2b;
    color: white;
  }
  
  .search-btn:hover {
    background-color: #00660a;
    border-color: #80cb2b;
    color: #00660a;
  }

  /***Featured Job Listings***/
  .crypto-item .text-truncate i {
    color:#80cb2b;
  }
  .crypto-item .btn {
    background-color: #00660a;
    color: #fff;
    border-color: #00660a;
  }
  
  .crypto-item .btn:hover {
    background-color: #80cb2b;
    border-color: #80cb2b;
  }
  
  .crypto-item .btn i {
    color: #fff;
  }
  
  .crypto-item .btn:hover i {
    color: #fff;
  }
  
  .crypto-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.crypto-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}